@model Project.Models.Language

@{
    ViewBag.Title = "Creating a language";
}

<p>@Html.ActionLink("Cancel", "Index")</p>
<h2>Creating a language</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    <br />
    @Html.EditorFor(model => model.Name)
    <br /><br />
    @Html.LabelFor(model => model.Code)
    <br />
    @Html.EditorFor(model => model.Code)
    <br /><br />
    <input type="submit" value="Create" />
}